.App {
  background: linear-gradient(var(--color1) 0%, var(--color1) 65%, var(--light) 65%, var(--light) 100%);
  height: 100vh;
  background-repeat: no-repeat;
  padding: 10rem;
  /* text-align: center; */
}

.row {
  display: flex;
}

h1 {
  font: bold 4.8rem sans-serif;
  color: var(--light);
  margin-bottom: 5rem;
}

svg {
  width: 0;
  height: 0;
  position: absolute;
}

.introduction {
  margin-bottom: 10rem;
  width: 60vw;
  color: var(--light);
}

.introduction p {
  /* margin-left: 1rem; */
}

h2 {
  font-size: 3rem;
  color: var(--light);
  text-transform: uppercase;
  /* margin-left: 1rem; */
}

h3 {
  font-size: 2.4rem;
  color: var(--light);
  margin: 0 0 2rem;
}

.shows-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

dt {
  opacity: .7;
  font-size: 1rem;
}

.shows-list li {
  width: 15vw;
  min-width: 10rem;
  /* margin-bottom: 3rem; */
  margin: 0 1rem 3rem;
}

.show-link {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  filter: saturate(.5);
}

.show-link:hover {
  filter: saturate(1);
}

.show-cover {
  width: 15vw;
  min-width: 10rem;
}

h4 {
  font-size: 1.8rem;
}

.rating {
  position: relative;
  margin-top: 1rem;
}

.star-ratings {
  position: absolute;
  top: -1rem;
}

.not-rated {
  font-size: 1rem;
  opacity: .6;
  margin-top: .5rem;
}

.info-header {
  color: var(--light);
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* flex-wrap: wrap-reverse; */
  margin-bottom: 10rem;
}

.info-header img {
  height: 35vw;
  min-height: 32rem;
  max-height: 40rem;
  width: auto;
  margin-right: 2rem;
}

.preview-div {
  height: 9rem;
  font-size: 1.4rem;
  overflow: hidden;
  max-width: 50vw;
  min-width: 20vw;
}

.extra-info {
  justify-content: space-between;
  flex-wrap: wrap;
}

.extra-info h4 {
  margin-bottom: 4rem;
}

.extra-info article {
  width: 38vw;
  min-width: 38rem;
}

.show-info {
  margin: 0 4rem 5rem 0;
}

.show-info div {
  height: 5rem;
  align-items: center;
}

.info-div {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
}

.info-div .rating {
  margin-right: 3rem;
  margin-top: 0;
}

.info-div p {
  margin-top: .3rem;
}

.preview-div p {
  margin: 0;
}

.extra-info-list {
  justify-content: space-between;
  border-bottom: solid .2rem var(--color1);
  padding: 0 1rem 1rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.cast-member {
  flex-direction: row-reverse;
  align-items: center;
}

.cast-member div {
  width: 30vw;
  min-width: 30rem;
  justify-content: space-between;
}

.cast-member img {
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 1050px) {

  .show-info {
    margin-right: 0;
  }
}

@media only screen and (max-width: 700px) {

  .show-info {
    margin-right: 0;
  }

  .extra-info article {
    width: 70vw;
    min-width: 30rem;
  }
}

@media only screen and (max-width: 610px) {

  .App {
    background: linear-gradient(var(--color1) 0%, var(--color1) 80%, var(--light) 80%, var(--light) 100%);
    padding: 5rem;
  }

  .introduction {
    margin-bottom: 5rem;
    width: 90vw;
  }

  .info-header {
    flex-direction: column-reverse;
    align-items: flex-start;
    /* color: var(--dark); */
  }

  .info-header img {
    margin: 0 0 2rem;
  }

  .cast-member div {
    min-width: 40vw;
  }
}

@media only screen and (max-width: 450px) {

  .App {
    padding: 1rem;
    padding-top: 5rem;
    background: linear-gradient(var(--color1) 0%, var(--color1) 92%, var(--light) 92%, var(--light) 100%);

  }

  .introduction {
    margin-bottom: 5rem;
    width: 90vw;
  }

  .info-header {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 6rem;
  }

  .info-header img {
    width: 70vw;
    height: auto;
    max-height: none;
  }

  .preview-div {
    width: 70vw;
    max-width: none;
  }

  .preview-div p {
    font-size: 1.2rem;
    width: 70vw;
  }

  .cast-member div {
    /* width: 50vw; */
    min-width: 20rem;
    justify-content: space-between;
  }

  .cast-member dt {
    text-align: end;
  }
}
