.App {
  background: linear-gradient(var(--color1) 0%, var(--color1) 50%, var(--light) 50%, var(--light) 100%);
  height: 100vh;
  background-repeat: no-repeat;
  padding: 10rem;
  /* text-align: center; */
}

.row {
  display: flex;
}

h1 {
  font: bold 4.8rem sans-serif;
  color: var(--light);
  margin-bottom: 5rem;
}

svg {
  width: 0;
  height: 0;
  position: absolute;
}

.introduction {
  margin-bottom: 10rem;
  width: 50vw;
  color: var(--light);
}

.introduction p {
  /* margin-left: 1rem; */
}

h2 {
  font-size: 3rem;
  color: var(--light);
  text-transform: uppercase;
  /* margin-left: 1rem; */
}

h3 {
  font-size: 2.4rem;
  color: var(--light);
  margin: 0 0 2rem;
}

.shows-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.shows-list li {
  width: 15vw;
  /* margin-bottom: 3rem; */
  margin: 0 1rem 3rem;
}

.show-link {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  filter: saturate(.5);
}

.show-link:hover {
  filter: saturate(1);
}

.show-cover {
  width: 15vw;
}

h4 {
  font-size: 1.8rem;
}

.rating {
  position: relative;
  margin-top: 1rem;
}

.star-ratings {
  position: absolute;
  top: -1rem;
}

.not-rated {
  font-size: 1rem;
  opacity: .6;
  margin-top: .5rem;
}

.info-header {
  color: var(--light);
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 10rem;
}

.info-header img {
  height: 40rem;
  width: auto;
  margin-right: 2rem;
}

.preview-div {
  height: 9rem;
  font-size: 1rem;
  overflow: hidden;
  width: 50vw;
}

.extra-info {
  justify-content: space-between;
  flex-wrap: wrap;
}

.extra-info h4 {
  margin-bottom: 4rem;
}

.extra-info article {
  width: 38vw;
  min-width: 38rem;
}

.show-info {
  margin: 0 4rem 5rem 0;
}

.info-div {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
}

.info-div .rating {
  margin-right: 3rem;
  margin-top: 0;
}

.info-div p {
  margin-top: .3rem;
}

.preview-div p {
  margin: 0;
}

.extra-info-list {
  justify-content: space-between;
  border-bottom: solid .2rem var(--color1);
  padding: 0 1rem 1rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.cast-member {
  flex-direction: row-reverse;
  align-items: center;
}

.cast-member div {
  width: 30vw;
  min-width: 30rem;
  justify-content: space-between;
}

.cast-member img {
  object-fit: cover;
  border-radius: 50%;
}

/* justify-content: space-between; */
